:root{
    --red:#d75654;
    --green:#3bbc81;
    --blue: #3ba8bc;
}
* {
    box-sizing: border-box;
  }
body{
    margin: 0;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans", Arial,sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
body.pomodoro {
background-color: var(--red);
}
body.pomodoro #control-btn{
    color: var(--red);
}
body.pomodoro #controls button:first-child{
    background: none rgba(0, 0, 0, 0.15);
}
/*  */
body.short-break{ 
    background-color:var(--green);
}
body.short-break #control-btn{
    color: var(--green);
}
body.short-break #controls button:nth-child(2){
    background: none rgba(0, 0, 0, 0.15);
}
/*  */
body.long-break{
    background-color: var(--blue);
}
body.long-break #control-btn{
    color: var(--blue);
}
body.long-break #controls button:nth-child(3){
    background: none rgba(0, 0, 0, 0.15);
}
/*  */
button{
    /* white-space: nowrap; */
    border: none;
    color: white;
    margin: 0px;
    border-radius: 4px;
    font-size: 1rem;
    padding: 0.25rem 0.5rem;
    /* height: 1.25rem; */
    cursor: pointer;
    background: none;
    box-shadow: none;
    font-weight: 300;
}
button:hover{
    background: none rgba(0, 0, 0, 0.08);
}
#control-btn{
    background: white;
    padding: 1rem 2rem;
    font-weight: bold;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}
.pomodoro_container{
    width: min(30em, calc(80% + 2em));
    margin: 0 auto;
    padding: 2rem 0;
    background: #ffffff2b;
    border-radius: 6px;
    text-align: center;
    color: white;
}
.pomodoro_display{
    position: relative;
}
.pomodoro_display > * + *{
    margin-top: 2rem;
}
#controls{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
#controls > * + *{
    margin-left: 1rem;
}
#display{
    font-size: calc(0.625rem + 10vmin);
    font-weight: bold;
    color: white;
    /* prevents numbers to 'jump' */
    font-variant-numeric: tabular-nums;
}

#reset {
    width: calc((100% - 200px) / 2 + 5%);
    position: absolute;
    right: 0px;
    bottom: -6px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    opacity: 0;
}
#reset.reset-visible{
    opacity: 1;
    pointer-events: auto;
    transition: all 0.2s ease-out 0s;
}
#reset svg{
    width: 2.5rem;
    height: 2.5rem;
}