:root{
    --red:#ba3c3e;
    --green:#3bbc81;
    --blue: #3ba8bc;
}
body{
    margin: 0;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans", Arial,sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
body.pomodoro {
background-color: var(--red);
}
body.pomodoro #control-btn{
    color: var(--red);
}
body.short-break{ 
    background-color:var(--green);
}
body.short-break #control-btn{
    color: var(--green);
}
body.long-break{
    background-color: var(--blue);
}
body.long-break #control-btn{
    color: var(--blue);
}
button{
    white-space: nowrap;
    border: none;
    color: white;
    margin: 0px;
    border-radius: 4px;
    font-size: 1rem;
    padding: 0.25rem 0.5rem;
    /* height: 1.25rem; */
    cursor: pointer;
    background: none;
    box-shadow: none;
    font-weight: 300;
}
#control-btn{
    background: white;
    padding: 1rem 2rem;
    font-weight: bold;
}
.container{
    /* width: min(80em, calc(80% + 2em)); */
    max-width: 620px;
    margin: 0 auto;
    position: relative;
    height: 100vh;
    width: 100vw;
}
.pomodoro_container{
    position: absolute;
    top: 50%; right: 50%;
    transform: translate(50%,-50%);
    padding: 3rem;
    background: #ffffff2b;
    border-radius: 6px;
    text-align: center;
}
.pomodoro_display > * + *{
    margin-top: 2rem;
}
#controls{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
#controls > * + *{
    margin-left: 1rem;
}
#display{
    font-size: calc(0.625rem + 10vmin);
    font-weight: bold;
    color: white;
    
}